@use '../custom' as *;

//style
#body{
    z-index: 0;
    position: relative;
    .accordion{
        margin-top: 8rem;
        @include media-breakpoint-down(lg){
            margin-top: 1.8rem;
                 }
        button{
            color: $mblack;
            border-bottom: 1px solid rgba(119, 119, 119, 0.37);
            font-weight: bold;
        }
    }
    .profile{
        margin-top: 5rem;
        .name{
            strong{
                color: $primary;
                font-size: 1.5rem;
                font-style: italic;
                span{
                    color: $mblack;
                }
            }
        }
    }
    .socialbox{
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(-90deg);
        @include media-breakpoint-down(sm){
        top: 70%;
        a{
            color: peru;
        }
        }
        a{
            font-size: 1.3rem;
            &:hover{
                i{
             transform: scale(1.5);
             transition: all .5s ease-in-out;
                }
             color: #777;
            }
        }
    }
}